.creative-content li {
	margin-left: 2em;
}
                   
.creative-content ul,
.creative-content ul > li {
	list-style: disc;
}

.creative-content p,
.creative-content ul,
.creative-content ol,
.creative-content li {
	margin-top: 1em;
	margin-bottom: 1em;
}

.creative-content p:first-child,
.creative-content ul:first-child,
.creative-content ol:first-child,
.creative-content li:first-child {
	margin-top: 0;
}

.creative-content p:last-child,
.creative-content ul:last-child,
.creative-content ol:last-child,
.creative-content li:last-child {
	margin-bottom: 0;
}