/* ========== Toolbars ========== */
						
.toolbar {
	padding: 3px; 	
}
						
.toolbar > li {
	float: left;
	margin-right: 2px;
	
	list-style: none;
}

.toolbar > li.new-group {
	margin-left: 10px;
}

.toolbar > li.new-group:first-child {
	margin-left: 0;
}

.toolbar > li > a,
.toolbar > li > span,
.toolbar > li input {
	display: block;
	padding: 5px;
	
	outline: none;	
	-moz-border-radius: 5px;     
	-webkit-border-radius: 5px;

	font-size: 11px;
	font-weight: normal;	
	color: #000000;  
}

.toolbar > li input,
.toolbar > li input:hover,
.toolbar > li input:active,
.toolbar > li input:hover:active {
	padding: 4px;
	
	background: none !important;
	background-position: 5px center !important;
	background-repeat: no-repeat !important;
	border: none !important;
	box-shadow: none;
	
	cursor: pointer;
}

.toolbar > li input:hover,
.toolbar > li input:active,
.toolbar > li input:hover:active {
	background-color: rgba(0, 0, 0, 0.25) !important;
}

.toolbar > li > a[style],
.toolbar > li > span[style],
.toolbar > li input[style] {
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 30px !important;
}

.toolbar > li > a:hover,
.toolbar > li > a.active,
.toolbar > li > input:hover,
.toolbar > li input:active {
	color: #000000;
	text-decoration: none;
	
	background-color: rgba(0, 0, 0, 0.25);
}

.toolbar > li > span.disabled,
.toolbar > li input[disabled] {
	opacity: 0.5;
	cursor: default;
}    

/* ========== Lists ========== */

.list,
.block > table > tbody > tr:first-child > td {
	border-top: 1px solid #D7DEF1;	
}

.list > li,
.list > li > a,
.block > table > tbody > tr > td {
	padding: 7px 8px;
	
	border-bottom: 1px solid #D7DEF1;
	list-style: none;
	outline: none;
}

.list > li.selected,
.list > li.selected > a,
.block > table > tbody > tr.selected > td {
	background-color: #FFD053;
}    

.list > li.selected:hover,
.list > li.selected:hover > a,
.block > table > tbody > tr.selected:hover > td {
	background-color: #FFC836;
}

.block > table > tbody > tr > td > a {
	padding: 7px 8px;
	
	outline: none;
}
     
.list > li > a, 
.block > table > tbody > tr > td > a {
	display: block;
}

.block > table > tbody > tr > td > a {
	overflow: hidden;
}

.list > li > a,
.block > table > tbody > tr > td > a {
 	margin: -8px;
} 

.list > li > a,
.list > li:hover > a,
.block > table > tbody > tr > td > a,
.block > table > tbody > tr > td > a:hover {
 	color: #000000;
 	text-decoration: none;
}

.list > li:hover,
.list > li:hover > a,
.block > table > tbody > tr:hover > td {
	background-color: #D7DEF1;
}    

.list > li.group-header,
.block > table > tbody > tr.group-header > td {
	background-color: #FFD07C !important;
	border: none !important;

	font-size: 16px;
	font-weight: bold;
	color: #800000;
}

.list > li.group-header > a,
.block > table > tbody > tr.group-header > td > a {
 	margin: -7px -8px;
	
	background-color: #D7DEF1 !important;
	color: #404080;
	border: none !important;
}

#sidebar > .block > div > .list > li,
#sidebar > .block > div > .list > li > a {
	padding: 3px 4px;
} 

#sidebar > .block > div > .list > li > a {
 	margin: -4px;
}            

/* ========== List Toolbars ========== */
                  
.list > li > .toolbar,
.block > table .toolbar {
	float: right;
	margin: -8px;
}			
          
.list > li > .toolbar {
	display: none;
}

.list > li:hover > .toolbar{
	display: block;
}    

/* we can't hide a toolbar in a table because the layout would change when showing it (looks ugly) */
.block > table .toolbar {
	position: relative;
	left: -10000px;
}  

.block > table tr:hover .toolbar {
	left: 0;
}
						
.list > li > .toolbar > li,
.block > table .toolbar > li {
	float: left;
	margin-right: 2px;
	
	list-style: none;
}   
						
.list > li > .toolbar > li:last-child,
.block > table .toolbar > li:last-child {
	margin-right: 0;
}

.list > li > .toolbar > li.new-group,
.block > table .toolbar > li.new-group {
	margin-left: 10px;
}

.list > li > .toolbar > li.new-group:first-child,
.block > table .toolbar > li.new-group:first-child {
	margin-left: 0;
}

.list > li > .toolbar > li > a,
.list > li > .toolbar > li > span,
.block > table .toolbar > li > a,
.block > table .toolbar > li > span {
	display: block;
	padding: 5px;
	
	outline: none;	
	-moz-border-radius: 5px;     
	-webkit-border-radius: 5px;

	font-size: 11px;
	font-weight: normal;	
	color: #000000;  
}

.list > li > .toolbar > li > a[class],
.list > li > .toolbar > li > span[class],
.block > table .toolbar > li > a[class],
.block > table .toolbar > li > span[class] {
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 30px !important;
}

.list > li > .toolbar > li > a:hover,
.list > li > .toolbar > li > a.active,
.list > li > .toolbar > li > span:hover,
.list > li > .toolbar > li > span.active,
.block > table .toolbar > li > a:hover,
.block > table .toolbar > li > a.active,
.block > table .toolbar > li > span:hover,
.block > table .toolbar > li > span.active {
	color: #000000;
	text-decoration: none;
	
	background-color: rgba(0, 0, 0, 0.25);
}

.list > li > .toolbar > li > span,
.block > table .toolbar li > span {
	cursor: default;
}  

.list > li > .toolbar > li > span.disabled,
.block > table .toolbar > span.disabled {
	opacity: 0.5;
	background-color: transparent !important;
}

.list > li.go-up + li {
	margin-top: 1px;
	border-top: 1px solid #D7DEF1;
}

.list > li.go-up:last-child {
	margin-bottom: 0;
}

.list > li.go-up > a {
	padding-left: 30px;
	
	background-image: url(../../../images/tools/go-up.png);
	background-position: 5px center;
	background-repeat: no-repeat;
}

/* ========== Trees ========== */

.tree {
	background: #EEF7FF;	
}

.tree li > ul > li {   
	margin-left: 15px;
}

.tree li {
	list-style: none;
}

.tree a {
	overflow: hidden;
	white-space: nowrap;
	
 	font-size: 11px;
}

.tree div,
.tree a,
.tree .toolbar > li > a,
.tree .toolbar > li > span {
	display: block;
	padding: 2px;
	
	background-color: #DFF0FF;
	border-bottom: 1px solid #B1DBFF;     
	border-right: 1px solid #B1DBFF;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.tree .toolbar > li > form > input {
	display: block !important;
	padding: 2px !important;
	
	background-color: #DFF0FF !important;
}
	
.tree .toolbar > li > form > input,
.tree .toolbar > li > form > input:hover,
.tree .toolbar > li > form > input:hover:active,
.tree .toolbar > li > form > input:active {
	border-bottom: 1px solid #B1DBFF !important;     
	border-right: 1px solid #B1DBFF !important;
	border-top: 1px solid #FFFFFF !important;
	border-left: 1px solid #FFFFFF !important;
}

.tree div {
	padding: 4px;
}

.tree div > a {
	display: inline;
	padding: 4px;
	padding-right: 0;
	
	border: none;
	
	font-size: 12px;
	font-weight: bold;
}

.tree div > a:after {
	display: inline;
	width: 1px;
	height: 100%;
	padding: 4px 0;
	margin-left: 5px;
	
	border-left: 1px solid #B1DBFF;
	border-right: 1px solid #FFFFFF;
	
	content: '';	
}

.tree a:hover,
.tree div:hover,
.tree div:hover > a,
.tree .toolbar > li > a:hover {   
	background-color: #CBE7FF;
}

.tree .toolbar > li > form > input:hover,
.tree .toolbar > li > form > input:active,
.tree .toolbar > li > form > input:hover:active {
	background-color: #CBE7FF !important;
}
                        
.tree a,
.tree a:hover {
 	color: #000000;
 	text-decoration: none; 
	outline: none;
}

.tree .selected > div > .toolbar {
	border-left: 1px solid #F4B100;
}

.tree .selected > a,
.tree .selected > div,
.tree .selected > div > a,
.tree .selected > div > .toolbar > li > a {  
	background-color: #FFD053;
}

.tree .selected > div > .toolbar > li > form > input {
	background-color: #FFD053 !important;
}

.tree .selected > a,
.tree .selected > div,
.tree .selected > div > .toolbar > li > a,
.tree .selected > div > .toolbar > li > form > input {
	border-bottom: 1px solid #F4B100;     
	border-right: 1px solid #F4B100;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}        

.tree .selected > div > a:after {
	border-left: 1px solid #F4B100;
	border-right: 1px solid #FFFFFF;
}

.tree .selected > a:hover,
.tree .selected > div:hover,
.tree .selected > div:hover > a,
.tree .selected > div > .toolbar > li > a:hover {
	background-color: #FFC836;
}

.tree .selected > div > .toolbar > li > form > input:hover,
.tree .selected > div > .toolbar > li > form > input:active {
	background-color: #FFC836 !important;
}

.tree .active > div > .toolbar {
	border-left: 1px solid #85C5FF;
}

.tree .active > a,
.tree .active > div,
.tree .active > div > a,
.tree .active > div > .toolbar > li > a {  
	background-color: #85C5FF;
}

.tree .active > div > .toolbar > li > form > input {
	background-color: #85C5FF !important;
}

.tree .active > a,
.tree .active > div,
.tree .active > div > .toolbar > li > a,
.tree .active > div > .toolbar > li > form > input {
	border-bottom: 1px solid #60B5FF;     
	border-right: 1px solid #60B5FF;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}        

.tree .active > div > a:after {
	border-left: 1px solid #60B5FF;
}

.tree .active > a:hover,
.tree .active > div:hover,
.tree .active > div:hover > a,
.tree .active > div > .toolbar > li > a:hover {
	background-color: #66B8FF;
}

.tree .active > div > .toolbar > li > form > input:hover,
.tree .active > div > .toolbar > li > form > input:active {
	background-color: #66B8FF !important;
}

/* ========== Tree Toolbars ========== */

.tree li > div > .toolbar {
	float: right;	
	display: none;
	padding: 0;
	margin: -5px;
	
	border-left: 1px solid #B1DBFF;
}

.tree li > div:hover > .toolbar {
	display: block; 	
}

.tree .toolbar > li,
.tree .toolbar > li > form > input {
	float: left;
	overflow: visible;
	height: 100%;
	margin-right: 0;

	list-style: none;
}

/* Only icons */
.tree .toolbar > li > a,
.tree .toolbar > li > span,
.tree .toolbar > li > form > input {    
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	content: "";
	display: block;
	height: 22px;
	overflow: hidden;
	padding: 0 !important;
	white-space: nowrap;
	width: 22px;
	
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.tree .toolbar > li > form > input,
.tree .toolbar > li > form > input:hover,
.tree .toolbar > li > form > input:hover:active,
.tree .toolbar > li > form > input:active {
	height: 24px !important;
	width: 24px !important;
	margin: 0 !important;
	
	background-position: center !important;
}

/* Icons + text */
.tree .toolbar.show-titles > li > a,
.tree .toolbar.show-titles > li > span,
.tree .toolbar.show-titles > li > form > input {
	display: block;
	height: 16px;
	line-height: 14px;     
	overflow: hidden;
	white-space: nowrap;
	padding-left: 26px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-right: 6px !important;
	width: auto !important;
	
	background-repeat: no-repeat;
	background-position: 0px center;
	
	font-size: 11px;
	color: #000000;
	
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.tree .toolbar.show-titles > li > form > input,
.tree .toolbar.show-titles > li > form > input:hover,
.tree .toolbar.show-titles > li > form > input:hover:active,
.tree .toolbar.show-titles > li > form > input:active {
	padding-left: 23px !important;
	padding-right: 3px !important;
	padding-top: 2px !important;
	
	background-position: 0px center !important;
}

.tree .toolbar > li > .disabled,
.tree .toolbar > li > form > input[disalbed] {
	cursor: default;
	opacity: 0.5;
}

/* ========== Fieldsets ========== */

fieldset {
	background: none;
	border: none;
	outline: none;
}

fieldset.inputs > dl {
	clear: both;
}

fieldset.inputs > dl > dt {
	display: block;
	float: left;
	width: 155px;

	text-align: left;
	font-weight: bold;
}

fieldset.inputs.large > dl > dt {
	width: 205px;
}

fieldset.inputs > dl > dd {
	margin-left: 155px;
}

fieldset.inputs.large > dl > dd {
	margin-left: 205px;
}

fieldset.inputs > dl,
fieldset.inputs > dl > dd {
	margin-top: 1em;
	margin-bottom: 1em;
}

fieldset.inputs > dl > dd > p {
	margin-top: 2px;
	margin-bottom: 0;

	color: #666666;
	font-size: 11px;
}

fieldset.inputs > dl > dd.float-right {
	float: right;
}

#sidebar fieldset.inputs input {
	width: 100%; 	      
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#sidebar fieldset.inputs > dl > dt {
	width: 60px;
	
	font-weight: normal;
}   

#sidebar fieldset.inputs > dl > dd {
	margin-left: 60px;
}     

fieldset.buttons {
	text-align: center;
}

fieldset.buttons input[type=submit],
fieldset.buttons input[type=reset],
fieldset.buttons input[type=button],
fieldset.buttons button {
	margin-left: 5px;
	margin-right: 5px;
}    

fieldset.buttons input[type=submit]:first-child,
fieldset.buttons input[type=reset]:first-child,
fieldset.buttons input[type=button]:first-child,
fieldset.buttons button:first-child {
	margin-left: 0;;
}  

fieldset.buttons input[type=submit]:last-child,
fieldset.buttons input[type=reset]:last-child,
fieldset.buttons input[type=button]:last-child,
fieldset.buttons button:last-child {
	margin-right: 0;;
}

/* ========== Form Inputs ========== */

input[type=hidden] {
	display: none;
}

input,
textarea,
select,
select.fixed-size,
div.wysiwyg > iframe {       
	width: 400px;
	padding: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkitbox-sizing: border-box;
	-khtml-box-sizing: border-box;
	-o-box-sizing: border-box;

	background: #FFFFFF;
	border: 1px solid #9999FF;  
	outline: none !important;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;    
	
	font-family: Verdana,Arial,Helvetica,sans-serif;  
	font-size: 12px !important;
}

select {
	width: auto;
}

input.small,
input[type=password],
textarea.small,
select.small {
	width: 200px;
}

input:hover,
textarea:hover,
select:hover,
div.wysiwyg > iframe:hover {	
	/*background-color: #E0E0FF;*/
	border: 1px solid #000080;
	outline: none !important;
}

input:focus,
textarea:focus,
select:focus,
div.wysiwyg > iframe:focus {	
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}         

input.error,
textarea.error,
select.error {
	background: #FF8080 !important;
	border: 1px solid #EE6060 !important;
}           

input.error:hover,
textarea.error:hover,
select.error:hover {
	background: #FF8080 !important;
	border: 1px solid #800000 !important;
}          

input.error:focus,
input.error:focus:hover,
textarea.error:focus,
textarea.error:focus:hover,
select.error:focus,
select.error:focus:hover {
	background: #FFFFFF !important;  
	border: 1px solid #EE6060 !important
}
  
input.fullsize,  
textarea.fullsize,
select.fullsize,
.wysiwyg.fullsize > iframe {
	width: 100%;    
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;     
	-khtml-box-sizing: border-box;
}

textarea.fullsize,
.wysiwyg.fullsize > iframe {
	height: 400px;
}

input[type=checkbox] {
	width: auto;
	
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

label > input[type=checkbox] {
	margin-right: 1ex;
}       

input[type=submit],
input[type=reset],
input[type=button],
button {
	padding: 4px 8px;
	margin-bottom: 4px;
	width: auto;
	                      
	background-color: #FFD159;      
	background: -moz-linear-gradient(center top, #FFD159, #FFEAB4 10px, #FFD159 10px, #FFD159); 
	border: none; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
	
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px !important;
}   

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
	background-color: #FFB900;
	background: -moz-linear-gradient(center top, #FFB900, #FFDF8C 10px, #FFB900 10px, #FFB900);  
	border-color: #FFFFFF #DEA100 #DEA100 #FFFFFF;      
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
}
    

input[type=submit]:active,
input[type=submit]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=button]:active,
input[type=button]:focus,
button:active,
button:focus {
	outline: 0 !important;  
} 

input[type=submit]:active:hover,
input[type=reset]:active:hover,
input[type=button]:active:hover,
button:active:hover {
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5) inset, -0.5px -1px 2px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5) inset, -0.5px -1px 2px rgba(0, 0, 0, 0.3) inset;  
	border-color: #DEA100 #FFFFFF #FFFFFF #DEA100;   
	background: -moz-linear-gradient(center top, #FFB900, #FFDF8C 12px, #FFB900 12px, #FFB900); 
}      
          
input[type=submit][disabled],
input[type=reset][disabled],
input[type=button][disabled],
button[disabled] { 
	color: rgba(0,0,0,0.5);
}	

input[type=submit][disabled]:hover,
input[type=submit][disabled]:active,
input[type=submit][disabled]:focus,
input[type=reset][disabled]:hover, 
input[type=reset][disabled]:active,
input[type=reset][disabled]:focus,
input[type=button][disabled]:hover,
input[type=button][disabled]:active,
input[type=button][disabled]:focus,
button[disabled]:hover,
button[disabled]:active,
button[disabled]:focus {
	background-color: #FFD159;      
	background: -moz-linear-gradient(center top, #FFD159, #FFEAB4 10px, #FFD159 10px, #FFD159);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 1px 1px 1px #FFFFFF inset, -1px -1px 1px rgba(0, 0, 0, 0.8) inset; 
}

input[type=submit].main,
input[type=reset].main,
input[type=button].main,
button.main {
	font-weight: bold;
}     

/* ========== Input Errors ========== */

.input-errors {     
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px; 
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);  
	-o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	-icab-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	-khtml-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
	background: #FF8080;
	border: 1px solid #FF0000;
	list-style-type: disc;
}

.input-errors:first-child {
	margin-top: 0;
}

fieldset > dl > dd > .input-errors { 
	-moz-border-radius: 0; 
	-webkit-border-radius: 0;
	-moz-box-shadow: none;  
	-o-box-shadow: none;
	-icab-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	border: none;
	list-style-type: disc;
	
	margin: 5px 0;
	padding: 0;
	padding-left: 20px;
	list-style: none;
	border-bottom: 1px solid #800000;
}

.input-errors li {
	list-style-type: disc;
	margin: 0.5em 0;
	margin-left: 1.5em;
}

.input-errors li:first-child {
	margin-top: 0;
}

.input-errors li:last-child {
	margin-bottom: 0;
}

fieldset > dl > dd > .input-errors li {
	padding: 2px;
	margin: 0;
	
	list-style-type: disc;
	
	font-size: 10px;
	color: #800000;
}

/* ========== Special list formats ========== */ 

.user-name {
	font-weight: bold;
	color: #000000;         
}

.user-title {
	display: block;
	color: #404040;
	font-size: 11px;
}

.avatar {
	width: 30px;
	height: 30px;
 	float: left;
	margin-right: 10px;
	overflow: hidden;

	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}   

.avatar > img {
	max-width: 30px;
	max-height: 30px;
}

.title {
	font-weight: bold;
}

.list .detail,
.block > table .detail {
	margin-left: 1ex;
	
	font-size: 11px;
	color: #404040;
}

/* ========== Info lists ========== */

.info-list > dl {
	clear: both;
	overflow: hidden;
	margin: 0.5em 0;
}

.info-list > dl:first-child {
	margin-top: 0;
}

.info-list > dl:last-child {
	margin-bottom: 0;
}

.info-list > dl > dt {
	margin-right: 10px;
	display: block;
	float: left;
	width: 200px;

	text-align: right;
	font-weight: bold;
}

.info-list > dl > dd {
	margin-left: 210px;
}   

.info-list > dl > dd > p.description {
	margin-top: 2px;
	margin-bottom: 0;

	color: #666666;
	font-size: 11px;
}

/* ========== Info Box ========== */

.info-box {
	padding: 4px;
	padding-left: 20px;

	background-color: #FFD636;     
	background: url(../images/info-box.png) 4px center no-repeat, -moz-linear-gradient(center top, #FFD636, #FFEB9B 13px, #FFD636 13px, #FFD636);
	border: 1px solid #FFFFFF;
	-moz-border-radius: 5px;     
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 6px #000000;
}   

/* ========== Log ========== */

#log li > span:first-child {
	font-weight: bold;
}

#log li.multi-line > span:last-child {
	display: block;
	padding: 2px;
	max-height: 300px;
	overflow: auto;

	font-family: monospace;
	white-space: pre;
}
