#header {
	position: relative;
	width: 100%;
	padding-bottom: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	background: #1E2C6C;
	background: -moz-linear-gradient(center top, #859FED, #1E2C6C 77%, #06115D);
	background: -webkit-gradient(linear,
		center top,
		center bottom,
		from(#859FED),
		color-stop(0.77, #1E2C6C),
		to(#06115D));   
	
	overflow: hidden;
}

#header:after {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	background: #001169;
	background: -moz-linear-gradient(center top, #4A65DC, #163E94 5px, #4A65DC);
	background: -webkit-gradient(linear,
		center top,
		center bottom,
		from(#4A65DC),
		color-stop(0.5, #163E94),
		to(#4A65DC));   
	border-top: 1px solid #000000;
	border-bottom: 1px solid #011565;
	
	content: '';
}

#navbar {
	width: 100%;
}

#navbar > ul {
	width: 100%;
	padding: 2px;
	padding-top: 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	background: #D3D9EA;
	background: -moz-linear-gradient(center top, #A5B2D5, #FFFFFF);
	background: -webkit-gradient(linear,
		center top,
		center bottom,
		from(#A5B2D5),
		to(#FFFFFF));   
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #A8AEBC;
}

#navbar > ul > li {
	display: inline;
	float: none;	
}

#navbar > ul:before {
	display: none;
}

#navbar > ul:after {
	display: none;
}

#pagination {
	position: absolute;
	right: 5px;
	top: 53px;
	z-index: 1;	
}

#navigation-tree {
	display: none;	
}

#organization-heading,
#project-heading {
	margin: 5px;
	margin-bottom: 7px;
	float: left;		
	
	font-size: 20px;
	font-weight: bold;		
	color: #FFFFFF;
}

#organization-heading a,
#project-heading a,
#organization-heading a:hover,
#project-heading a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#content {
	padding: 10px;
	padding-top: 0;	
}

.block > div {
	margin-left: 0;
}

.block.table-wrap {
	padding-left: 0;	
}

#toolbar {
	margin-bottom: 10px;
	overflow: hidden;
}

#footer {
	margin-top: 0;	
}

input,
textarea,
select,
select.fixed-size,
div.wysiwyg > iframe {
	width: 100%;
}

fieldset.inputs > dl > dt {
	width: 105px;
}

fieldset.inputs.large > dl > dt {
	width: 155px;
}

fieldset.inputs > dl > dd {
	margin-left: 105px;
}

fieldset.inputs.large > dl > dd {
	margin-left: 155px;
}

.info-list > dl > dt {
	width: 100px;
}

.info-list > dl > dd {
	margin-left: 120px;
}
