/* Notice: Designed for ClassicTheme theme */

.structure-admin {
	margin: -10px -10px -5px;
	
	background: #EEF7FF;
}

.structure-admin li > ul > li {   
	margin-left: 20px;
}

.structure-admin li > ul > li, 
.structure-admin > li {
	list-style: none;
}                   

.structure-admin div,
.structure-admin div > .name,
.structure-admin .toolbar > li > a,
.structure-admin .toolbar > li > span {  
	padding: 4px; 

	background-color: #DFF0FF;
	border-bottom: 1px solid #B1DBFF;     
	border-right: 1px solid #B1DBFF;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.structure-admin .selected > div,
.structure-admin .selected > div > .name,
.structure-admin .selected > div > .toolbar > li > a,
.structure-admin .selected > div > .toolbar > li > span {  
	background-color: #FFD053;
	border-bottom: 1px solid #F4B100;     
	border-right: 1px solid #F4B100;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}        

.structure-admin .active > div,
.structure-admin .active > div > .name,
.structure-admin .active > div > .toolbar > li > a,
.structure-admin .active > div > .toolbar > li > span {  
	background-color: #85C5FF;
	border-bottom: 1px solid #60B5FF;     
	border-right: 1px solid #60B5FF;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.structure-admin div:hover,
.structure-admin div:hover > .name,
.structure-admin .toolbar a:hover {
	background-color: #CBE7FF;
}  

.structure-admin .selected > div:hover,
.structure-admin .selected > div:hover > .name,
.structure-admin .selected > div > .toolbar a:hover {
	background-color: #FFC836;
}   

.structure-admin .active > div:hover,
.structure-admin .active > div:hover > .name,
.structure-admin .active > div > .toolbar a:hover {
	background-color: #66B8FF;
}

.structure-admin div > .name,
.structure-admin div > .title,
.structure-admin .toolbar {
	margin: -5px;
}

.structure-admin div > .name {
	margin-right: 0;
}

.structure-admin div > .title {
	margin-left: 0; 
	padding: 4px 5px;

	border-left: 1px solid #FFFFFF;
}    

.structure-admin .toolbar {
	margin-left: 0;
}     

.structure-admin div > .name {
	margin: -5px;
	margin-right: 0;
	
 	font-weight: bold;
}       

.structure-admin div > .title {
 	font-weight: normal;
}  
                        
.structure-admin a,
.structure-admin a:hover {
 	color: #000000;
 	text-decoration: none; 
	outline: none;
}

.structure-admin .toolbar {
	float: right;	
	display: none;
	
	border-left: 1px solid #B1DBFF;
}

.structure-admin li > div:hover > .toolbar {
	display: block; 	
}

.structure-admin .toolbar > li {
	float: left;
	overflow: visible;
	height: 100%;	    

	list-style: none;
}

/* Only icons */
.structure-admin .toolbar > li > a,
.structure-admin .toolbar > li > span {
	display: block;
	height: 100%;      
	overflow: hidden;
	width: 15px;
	white-space: nowrap;       
	
	background-repeat: no-repeat;
	background-position: center center;	
	
	content: '';
	color: transparent;
}

/* Icons + text */
/*.structure-admin .toolbar > li > a,
.structure-admin .toolbar > li > span {
	display: block;
	height: 100%; 
	line-height: 14px;     
	overflow: hidden;
	white-space: nowrap;
	padding-left: 23px;       
	
	background-repeat: no-repeat;
	background-position: 0px center;
	
	font-size: 11px;
}*/

.structure-admin .toolbar > li > .disabled {
	cursor: default;
	opacity: 0.5;
}